@model AfluexHRMS.Models.AdminDashboard

@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="container-fluid">
    
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                @*<div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card tryal-gradient">
                                <div class="card-body tryal row">
                                    <div class="col-xl-7 col-sm-7">
                                        <h2 class="mb-0">Manage your project in one touch</h2>
                                        <span>
                                            Let Fillow manage your project automatically with our best AI
                                            systems
                                        </span>
                                        <a href="javascript:void(0);" class="btn btn-rounded">
                                            Try Free
                                            Now
                                        </a>
                                    </div>
                                    <div class="col-xl-5 col-sm-5 ">
                                        <img src="public/assets/images/chart.png" alt="" class="sd-shape">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>*@
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-xl-3 col-sm-3">
                                    <div class="card">
                                        <div class="card-body card-padding d-flex align-items-center justify-content-between">
                                            <div class="w-75">
                                                <h4 class="mb-3 text-nowrap">TOTAL EMPLOYEES</h4>
                                            </div>
                                            <div>
                                                <h2 class="fs-32 font-w700 mb-0">@ViewBag.TotalEmployee</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-3">
                                    <div class="card">
                                        <div class="card-body card-padding d-flex align-items-center justify-content-between">
                                            <div class="w-75">
                                                <h4 class="mb-3 text-nowrap">TOTAL HOLIDAYS</h4>
                                            </div>
                                            <div>
                                                <h2 class="fs-32 font-w700 mb-0">@ViewBag.TotalHolidays</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-3">
                                    <div class="card">
                                        <div class="card-body card-padding d-flex align-items-center justify-content-between">
                                            <div class="w-75">
                                                <h4 class="mb-3 text-nowrap">DISTRIBUTED SALARY</h4>
                                            </div>
                                            <div>
                                                <h2 class="fs-32 font-w700 mb-0">@ViewBag.DistributedSalary</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-3">
                                    <div class="card">
                                        <div class="card-body card-padding d-flex align-items-center justify-content-between">
                                            <div class="w-75">
                                                <h4 class="mb-3 text-nowrap">PENDING SALARY</h4>
                                            </div>
                                            <div>
                                                <h2 class="fs-32 font-w700 mb-0">@ViewBag.PendingSalary</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
            </div>
        </div>
    </div>
</div>


    <div class="container-fluid">
       
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Monthly Attendance</h4>
                    </div>
                    <div class="card-body">
                        <div id="horizontal-bar-chart" class="ct-chart ct-golden-section chartlist-chart"></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Calender </h4>
                        @*<p class="mb-0 subtitle">add <code>.progress-animated</code> to change the style</p>*@
                    </div>
                    <div class="card-body">
                        <h6>
                            Task #1
                            <span class="pull-end" style="color:#4800ff">85%</span>
                        </h6>
                        <div class="progress ">
                            <div class="progress-bar bg-danger progress-animated" style="width: 85%; height:8px;" role="progressbar">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <h6 class="mt-4">
                            Task #2
                            <span class="pull-end" style="color:#4800ff">90%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar bg-info progress-animated" style="width: 90%; height:8px;" role="progressbar">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <h6 class="mt-4">
                            Task #3
                            <span class="pull-end" style="color:#4800ff">65%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-animated" style="width: 65%; height:8px;" role="progressbar">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <h6 class="mt-4">
                            Task #4
                            <span class="pull-end" style="color:#4800ff">80%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar bg-warning progress-animated" style="width: 80%; height:8px;" role="progressbar">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        //debugger;
        //google.charts.load("current", { packages: ["ImageBarChart"] });
        //google.charts.setOnLoadCallback(drawChart);
        //drawChart();

        window.onload=drawChart();
    });
   

    //function drawChart() {
    //    debugger;
    //    $.noConflict();
    //         $.ajax({
    //             type: 'POST',
    //             dataType: 'json',
    //             contentType: 'application/json',
    //             url: '/Admin/GetJoiningDetails',
    //             data: JSON.stringify(),
    //             success:
    //             function (response) {
    //                 var datare = response;
    //                 var data = new google.visualization.DataTable();

    //                 data.addColumn('string', 'Month');
    //                 data.addColumn('number', 'Present');
    //                 data.addColumn('number', 'Absent');
    //                 for (var i = 0; i < datare.length; i++) {
    //                     data.addRow([datare[i].Month, parseInt(datare[i].TotalUser), parseInt(datare[i].City2)]);
    //                 }

    //                 var chart = new google.visualization.ImageBarChart(document.getElementById('marketchart'));
    //                 var options = {
    //                     pieSliceText: 'value-and-percentage',
    //                     format: 'decimal',
    //                     is3D: true,
    //                     legend: { position: 'bottom' },
    //                     animation: {
    //                         startup: true,
    //                         duration: 1000,
    //                         easing: 'out',
    //                     }, chartArea: { width: "100%", height: "100%" }
    //                 };
    //                 chart.draw(data, options);
    //             },
    //             error: function () {
    //             }
    //         });
    //}

    

    function drawChart() {

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/Admin/GetJoiningDetails',
            data: JSON.stringify(),
            success:
            function (response) {
                //var datare = response;
                debugger;
                var Months = [];
                var Presents = [];
                var Absents = [];

                //data.addColumn('string', 'Month');
                //data.addColumn('number', 'Present');
                //data.addColumn('number', 'Absent');

                var t = JSON.parse(JSON.stringify(response));
                for (var i = 0; i < t.length; i++) {
                    Months.push(t[i].Month);
                    Presents.push(t[i].TotalUser);
                    Absents.push(t[i].City2);
                }

                var options1 = {
                    chart: { height: 380, type: 'bar', toolbar: { show: false }, },
                    series: [{
                        name: 'Present',
                        data: Presents
                    }, {
                        name: 'Absent',
                        data: Absents
                    }],
                    plotOptions: { bar: { horizontal: false, columnWidth: ['30%'], endingShape: 'rounded' }, },
                    xaxis: {
                        categories: Months,
                        axisBorder: { show: false, }, axisTicks: { show: false }, labels: { style: { fontSize: '12px' } }
                    },
                    colors: ["#009327", "#F65365"],
                    markers: {
                        size: 6, colors: ['#fff'],
                        strokeColor: "#F65365", strokeWidth: 3,
                    }, legend: { show: false },
                    dataLabels: { enabled: false },
                    stroke: { show: true, width: 2, colors: ['transparent'] },
                    states: {
                        normal: { filter: { type: 'none', value: 0 } },
                        hover: { filter: { type: 'none', value: 0 } }, active: { allowMultipleDataPointsSelection: false, filter: { type: 'none', value: 0 } }
                    },
                    grid: { borderColor: "#FFCCD2", strokeDashArray: 4, yaxis: { lines: { show: true } } }
                }
                var chart1 = new ApexCharts(document.querySelector("#marketchart"), options1); chart1.render();

            }
        });
    }
</script>


@*<script type="text/javascript">
    debugger;
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(BindAttendanceStatus);

    function BindAttendanceStatus() {
        debugger;
        $.noConflict();
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/Admin/AttendanceStatus',
            data: JSON.stringify(),
            success:
            function (response) {
                var datare = response;
                var data = new google.visualization.DataTable();

                data.addColumn('string', 'Status');
                data.addColumn('number', 'Total');
                for (var i = 0; i < datare.length; i++) {
                    data.addRow([datare[i].Status, parseInt(datare[i].Total)]);
                }

                var chart = new google.visualization.PieChart(document.getElementById('divpayout'));
                var options = {
                    pieSliceText: 'value-and-percentage',
                    format: 'decimal',
                    is3D: true,
                    legend: { position: 'bottom' },
                    animation: {
                        startup: true,
                        duration: 1000,
                        easing: 'out',
                    }, chartArea: { width: "100%", height: "80%" }
                };

                chart.draw(data, options);




            },
            error: function () {
            }
        });
    }

</script>*@