@model AfluexHRMS.Models.EmployeeLogin

@{
    ViewBag.Title = "LeaveCount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("LeaveCount", "EmployeeLogin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data", @autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="page-header">
            <div>
                <h1 class="page-title">Leave Count Report</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/EmployeeLogin/EmployeeDashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Leave</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Leave Count Report</li>
                </ol>
            </div>
        </div>
    </div>
}


