@model AfluexHRMS.Models.EmployeeLogin

@{
    ViewBag.Title = "LeaveCount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("LeaveCount", "EmployeeLogin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data", @autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Leave</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Leave Count Report</a></li>
            </ol>
        </div>
    </div>
}


