@model AfluexHRMS.Models.Master

@{
    ViewBag.Title = "NFCDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">NFC</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Add NFC Device</a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="media_card_list">
                        <div class="d-flex justify-content-between ">
                            <h4>TOTAL EMPLOYEES</h4>
                            <h6>@ViewBag.TotalEmployee</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="media_card_list">
                        <div class="d-flex justify-content-between">
                            <h4>TOTAL HOLIDAYS</h4>
                            <h6>@ViewBag.TotalHolidays</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">My Information</h4>
                </div>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <div class="default-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#home"><i class="la la-phone me-2"></i> Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#profile"><i class="la la-user me-2"></i> whatsApp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#contact"><i class="la la-envelope me-2"></i> Emails</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#message"><i class="la la-envelope me-2"></i> Web/App/ulr's</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#socialMedia"><i class="la la-phone me-2"></i> Social Media</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#location"><i class="fas fa-file-alt me-2"></i> Location</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home" role="tabpanel">
                                <div class="pt-4">
                                    <div class="basic-form">
                                        <form class="d-flex align-items-center flex-wrap">
                                            <div class="">
                                                <button type="submit" class="btn btn-primary mb-2"><i class="la la-phone"></i></button>
                                                <h4 class="d-inline-block">Contact Number</h4>
                                            </div>
                                            <div class="mb-2 mx-sm-3">
                                                <label class="sr-only">Contact Number</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <button type="submit" class="btn btn-primary mb-2">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <div class="pt-4">
                                    <div class="basic-form">
                                        <form class="d-flex align-items-center flex-wrap">
                                            <div class="">
                                                <button type="submit" class="btn btn-primary mb-2"><i class="la la-phone"></i></button>
                                                <h4 class="d-inline-block">Contact Number</h4>
                                            </div>
                                            <div class="mb-2 mx-sm-3">
                                                <label class="sr-only">Contact Number</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <button type="submit" class="btn btn-primary mb-2">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact">
                                <div class="pt-4">
                                    <div class="basic-form">
                                        <form class="d-flex align-items-center flex-wrap">
                                            <div class="">
                                                <button type="submit" class="btn btn-primary mb-2"><i class="la la-phone"></i></button>
                                                <h4 class="d-inline-block">Contact Number</h4>
                                            </div>
                                            <div class="mb-2 mx-sm-3">
                                                <label class="sr-only">Contact Number</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <button type="submit" class="btn btn-primary mb-2">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="message">
                                <div class="pt-4">
                                    <div class="basic-form">
                                        <form class="d-flex align-items-center flex-wrap">
                                            <div class="">
                                                <button type="submit" class="btn btn-primary mb-2"><i class="la la-phone"></i></button>
                                                <h4 class="d-inline-block">Contact Number</h4>
                                            </div>
                                            <div class="mb-2 mx-sm-3">
                                                <label class="sr-only">Contact Number</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <button type="submit" class="btn btn-primary mb-2">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="socialMedia">
                                <div class="pt-4">
                                    <div class="basic-form">
                                        <form class="d-flex align-items-center flex-wrap">
                                            <div class="">
                                                <button type="submit" class="btn btn-primary mb-2"><i class="la la-phone"></i></button>
                                                <h4 class="d-inline-block">Contact Number</h4>
                                            </div>
                                            <div class="mb-2 mx-sm-3">
                                                <label class="sr-only">Contact Number</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <button type="submit" class="btn btn-primary mb-2">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="location">
                                <div class="pt-4">
                                    <div class="basic-form">
                                        <form class="d-flex align-items-center flex-wrap">
                                            <div class="">
                                                <button type="submit" class="btn btn-primary mb-2"><i class="la la-phone"></i></button>
                                                <h4 class="d-inline-block">Contact Number</h4>
                                            </div>
                                            <div class="mb-2 mx-sm-3">
                                                <label class="sr-only">Contact Number</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <button type="submit" class="btn btn-primary mb-2">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4">
            <div class="clearfix">
                <div class="card card-bx profile-card author-profile m-b30">
                    <div class="card-body">
                        <div class="p-3">
                            <div class="author-profile">
                                <div class="author-media">
                                    <img src="https://fillow.dexignlab.com/codeigniter/demo/public/assets/images/user.jpg" alt="">
                                    <div class="upload-link" title="" data-toggle="tooltip" data-placement="right" data-original-title="update">
                                        <input type="file" class="update-flie">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                </div>
                                <div class="author-info">
                                    <h6 class="title">John</h6>
                                    <span>Developer</span>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <a href="#!" class="form-control text-primary rounded text-start bg-white fs-16">https://www.dexignlab.com/ <i class="fas fa-file-alt"></i></a>
                        </div>
                        <p class="p-3 mb-0">scrambled it to make a type specimen book. It has survived not only five centuries, </p>
                        @*<div class="info-list">
                            <ul>
                                <li><p>scrambled it to make a type specimen book. It has survived not only five centuries, </p></li>
                            </ul>
                        </div>*@
                    </div>
                    <div class="card-footer">
                        <div class="input-group mb-3">
                            <div class="form-control rounded text-center bg-success text-white fs-16">Share Profile</div>
                            <div class="form-control rounded text-center bg-success text-white fs-16">Edit Profile</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

