@model AfluexHRMS.Models.Master

@{
    ViewBag.Title = "NFCDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    i {
        font-size: 50px;
    }
</style>
<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">NFC</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Add NFC Device</a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="row">
                            <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
                                <div class="widget-stat card" style="background-color:#356d6c">
                                    <div class="card-body  p-4">
                                        <div class="media">
                                            <span class="mr-3">
                                                <i class="fa fa-credit-card-alt" style="color:white"></i>
                                            </span>

                                            <div class="media-body text-white text-right">
                                                
                                                <p class="mb-1"><a href="" class="text-white text-activate" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Activate</a></p>
                                               
                                                <h4 class="text-white">Business Card</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Business Card</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-row ">
                    <div class="col-xl-6 col-lg-6 form-group">
                        <div class="mb-1">
                            <label>I already have a card</label>
                            @if (Session["UserNFCCode"].ToString() != "" && Session["UserNFCCode"].ToString() != null && Session["UserNFCCode"].ToString() != "na")
                            {
                                <a href="/nfc/Profile?id=@Session["UserNFCCode"].ToString()" class="btn btn-primary">Go</a>
                            }
                            else
                            {
                                <a href="/Home/NFCActivation" class="btn btn-primary">Go</a>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>