@model AfluexHRMS.Models.Master

@{
    ViewBag.Title = "DepartmentMaster";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("DepartmentMaster", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Master</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Department Master</a></li>
                </ol>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-lg-flex justify-content-between">
                            <h4 class="card-title">Department Master</h4>
                            <p style="color: #ff0000">
                                @TempData["Departmentmsg"]
                            </p>
                            <p style="color: red">
                                @TempData["ErrDepartmentmsg"]
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <label class="form-label"><h5>Deparment Name <span class="text-danger">*</span></h5></label>
                                    @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control", @Placeholder = "Deparment Name" })
                                    @Html.HiddenFor(m => m.Pk_DepartmentId)
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-3">
                                    @if (Model.Pk_DepartmentId == null)
                                    {
                                        <input type="submit" class="btn btn-success" id="btnSave" onclick="return validateform();" name="btnSave" value="Save" />
                                    }
                                    else
                                    {
                                        <input type="submit" class="btn btn-success" onclick="return validateform();" id="btnUpdate" name="btnUpdate" value="Update" />
                                    }

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



}

<script>
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#DepartmentName').val() == '') {
            $("#DepartmentName").addClass('errortext');
            $('#DepartmentName').focus();
            return false;
        }

        return true;
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
